.item {
  border: 2px solid blueviolet;
  border-radius: 5px;
  padding:10px;
  margin-top:10px;
  margin-bottom:10px;
  display: block;
  cursor: pointer;
  position: relative;
}
.item:hover {
  border-color: #ccc;
}

.item .title {
  color:white;
  text-transform: capitalize;
}

.item .image {
  width:50px;
  height:50px;
  margin-right: 10px;
  border-radius: 100px;
}

.item:hover {
  opacity: 0.9;
}

.contacts {
  border-color:#196ddc;
}

.slacks {
  border-color:#471547;
}

.gdrive {
  border-color:#db9258;
}

.images {
  border-color:#32a04e;
}

.tweets {
  border-color:#9959b3;
}

.item.images  {
  background-color: #549876;
}
.item.gdrive  {
  background-color: #db9258;
}
.item.tweets {
  background-color: #9959b3;
}
.item.contacts {
  background-color: #196ddc;
}
.item.slacks {
  background-color: #471547;
}

.label-wrap {
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  right:10px;
  bottom:10px;
}

.label {
  font-size: 15px;
  color:#d8d8d8;
  margin:0;
}

.content-wrap {
  display: flex;
  align-items: center;
}

